/* 로보토 Condensed 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

/* 롯데마트드림 폰트 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

html {
  font-family: "Roboto Condensed", "LotteMartDream", sans-serif;
}

/* 노말라이징 */
*{
  padding: 0;
  margin: 0;
}
ul, ol, li {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* 라이브러리 */
.con {
  margin-left: auto;
  margin-right: auto;
}
.inline-grid {
  font-size: 0;
}
.inline-grid > * {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
}
.text-right{
  text-align: right;
}
.img-box > img{
  width: 100%;
  display: block;
}
/* 커스텀 */
.con {
  width: 1100px;
}
body{
  background-color: #1e1f21;
  color: white;
}
/* 탑바 */
header{
  background-color: #292a2d;
}
header > div > .page-name{
  text-align: center;
}
header > .top-bar-menu-box > ul > li > a{
  color: #555;
  font-size: 1.5rem;
  padding: 15px;
  display: block;
  transition: color 1s;
  text-shadow: 0 3px 3px #fff;
}
header > .top-bar-menu-box > ul > li:hover > a {
  color: #fff;
  text-shadow: 0 3px 3px 555;
}
/* list.php */
.list-content-box > ul {
  margin: 0 -10px;
}
.list-content-box > ul > li{
  width: calc(100% / 3);
  padding: 20px 10px 0 10px;
  cursor: pointer;
}
.list-content-box > ul > li > div > p {
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.border-list-box > ul > li > a{
  padding: 15px 0;
  display: block;
  transition: 1s;
}
.border-list-box > ul > li:hover > a{
  background-color: #fff;
  color: #292a2d;
}
